<template>
	<div id="top-expeditions">
		<div class="top-expedition"
			v-for="expedition in Expeditions"
			:data-state="ExpeditionState(expedition)">
			<div class="expedition-progress"
				v-show="expedition.Activated"
				:style="{width:Math.min(100,expedition.Progress)+'%'}"></div>
			<div class="expedition-text">
				<template v-if="expedition.Activated">
					<div class="expedition-id">{{expedition.Id}}</div>
					<div class="expedition-time">{{expedition.RemainingText}}</div>
				</template>
				<template v-else>
					<div class="expedition-time">--:--:--</div>
				</template>
			</div>
		</div>
	</div>
</template>