$theme-color: #222225;
$theme-hover-color: #313131;
$theme-active-color: #575757;
$theme-line-color: #393939;
$theme-highlight-line-color: #414141;

$theme-highlight-color: #1565c0;

$theme-background-color: #000000;
$theme-text-color: #ffffff;

$theme-shadow-color: rgba(0, 0, 0, 0.76);

$theme-progress-back: rgba(255, 255, 255, 0.17);
$theme-progress-strip: #000;

$theme-font-size: 12px;
$theme-font-face: "Spoqa Han Sans JP", "Spoqa Han Sans";

$state-colors: (
	"empty": rgba(255,255,255,0.23),
	"sortie": #c62828,
	"expedition": #1565c0,
	"damaged": #e63838,
	"not-ready": #f57c00,
	"ready": #388e3c,
	"repairing": #6d4c41
);
$morale-colors: (
	"-3": #c62828,
	"-2": #f57c00,
	"-1": #ffcc80,
	"0": #fff,
	"+1": #fdd835
);
$quest-colors: (
	"1": #388e3c, // Composition
	"2": #c62828, // Sortie
	"3": #8dc660, // Practice
	"4": #1565c0, // Expedition
	"5": #fdd835, // Supply
	"6": #6d4c41, // Construction
	"7": #a987ba, // Remodel (Powerup)
	"8": #c62828  // Sortie
);
$progress-colors: (
	"0%": #c62828,
	"100%": #388e3c,

	// for not 5 strip progress
	"33%": #f57c00,
	"66%": #fdd835,

	// for 5 strip progress
	"25%": #ea6205,
	"50%": #fdb316,
	"75%": #d6d03a
);

%NoWrap {
	white-space: nowrap;
	word-break: keep-all;
}
