<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>BeerViewer Application</title>

	<script src="http://localhost:8098"></script>

	<!-- Vendor -->
	<script type="text/javascript" src="vendor/jquery.slim.min.js"></script>
	<script type="text/javascript" src="vendor/tippy.all.min.js"></script>
	<script type="text/javascript" src="vendor/vue.js"></script>
	<script type="text/javascript" src="vendor/vuex.min.js"></script>
	<link rel="stylesheet" type="text/css" href="vendor/tippy.theme.css" />

	<!-- Base -->
	<link rel="stylesheet" type="text/css" href="app.css" />
	<script type="text/javascript" src="beerviewer.js"></script>
</head>
<body>
	<div id="modules"></div>

	<div id="mainbox"
		:style="{'grid-template-columns': `${Frame.Width}px 2px 1fr`, 'grid-template-rows': `28px ${Frame.Height}px 2px 1fr`}">
		<header id="top-area">
			<div id="top-menubutton">
				<button type="button" data-role="menu">
					<img src="assets/button_menu.png" />
					<span>βeerViewer 2.0</span>
				</button>
				<div id="top-menu-overlay"></div>
				<div id="top-menu">
					<ul class="menu-host">
						<li class="menu-zoom">
							<div class="menu-zoom">
								<button class="menu-zoom" data-role="zoom-out"
										@click="ZoomFrame(-1)">-</button>
								<span class="menu-zoom-factor">
									<div>{{Zoom.Percentage}}</div>
									<small>{{Frame.Width}}x{{Frame.Height}}</small>
								</span>
								<button class="menu-zoom" data-role="zoom-in"
										@click="ZoomFrame(-2)">+</button>
							</div>
						</li>
						<li class="menu-group"
							v-for="area in Areas"
							v-if="area.Type != 'top'"
							:data-area="area.Type">
							<span class="menu-group-name">
								<i class="menu-icon"
								   :data-icon="area.Type+'screen'"></i>
								{{i18n[`menu.${area.Name}`] || `${area.Name} screen`}}
							</span>
							<ul>
								<li v-for="module in area.Modules"
									:class="{'menu-active': module.Displaying}"
									@click="SelectModule(module.Area, module.Name)">
									<i class="menu-icon" :data-icon="module.Icon"></i>
									{{i18n[`module.${module.Name}`] || module.Name}}
								</li>
							</ul>
						</li>
						<li class="menu-group">
							<span class="menu-group-name">
								<i class="menu-icon" data-icon="tools"></i>
								{{i18n["menu.Tools"] || "Tools"}}
							</span>
							<ul>
								<li v-for="tool in Tools"
									@click="OpenMenu(false) && tool.Action()"
									:data-tool-id="tool.Id">
									<i class="menu-icon" data-icon=""></i>
									{{i18n[`tool.${tool.Name}`] || tool.Name}}
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div id="top-systembutton">
				<button class="system-button" type="button" data-role="minimize"></button>
				<button class="system-button" type="button" data-role="maximize"></button>
				<button class="system-button" type="button" data-role="close"></button>
			</div>
			<div id="top-module-area">
				<i data-type="module-content"
				   v-for="module in Areas.top.Modules"
				   :data-module-id="module.Id"
				   :key="module.Id"
				   v-show="module.Displaying">
				   	<keep-alive>
						<component :is="module.ComponentName"></component>
					</keep-alive>
				</i>
			</div>
		</header>

		<div id="main-area">
			<div id="main-module-area" class="module-area">
				<i data-type="module-content"
				   v-for="module in Areas.main.Modules"
				   :data-module-id="module.Id"
				   :key="module.Id"
				   v-show="module.Displaying">
				   	<keep-alive>
						<component :is="module.ComponentName"></component>
					</keep-alive>
				</i>
			</div>
		</div>

		<div id="side-area">
			<div id="side-module-area" class="module-area">
				<i data-type="module-content"
				   v-for="module in Areas.side.Modules"
				   :data-module-id="module.Id"
				   :key="module.Id"
				   v-show="module.Displaying">
				   	<keep-alive>
						<component :is="module.ComponentName"></component>
					</keep-alive>
				</i>
			</div>
		</div>

		<div id="sub-area">
			<div id="sub-module-area" class="module-area">
				<i data-type="module-content"
				   v-for="module in Areas.sub.Modules"
				   :data-module-id="module.Id"
				   :key="module.Id"
				   v-show="module.Displaying">
				   	<keep-alive>
						<component :is="module.ComponentName"></component>
					</keep-alive>
				</i>
			</div>
		</div>

		<div class="grid-placeholder" style="grid-column:2;grid-row:2/5"></div>
		<div class="grid-placeholder" style="grid-column:1;grid-row:3"></div>
	</div>
</body>
</html>