@import "../../_theme.scss";

#settings-container > form {
    display: grid;
    grid-template-columns: auto 1fr;

    .setting {
        display: contents;
        font-size: 14px;

        > span.setting-name {
            padding: 12px;
            text-align: right;
            grid-column: 1 / 2;
        }
        > *:not(.setting-name) {
            padding: 7px 8px;
            grid-column: 2 / 3;
        }
        > * {
            border-bottom: 1px solid rgba(255,255,255,0.1);
            border-bottom: 1px solid rgba(255,255,255,0.1);
        }

        .setting-content {
            &[data-enum="1"] {
                padding-bottom: 2px;
            }

            label.setting-content-item {
                position: relative;
                display: inline-block;
                border-radius: 3px;
                transition: all 0.13s linear;

                &[data-type="radio"]{
                    margin: 0 5px 5px 0;
                    padding: 4px 8px;
                    border: 2px solid transparent;
                    background-color: $theme-line-color;
                    cursor: pointer;

                    input {
                        display: none !important;
                    }
                    &[data-state="selected"] {
                        background-color: #1565c0;
                    }
                }
            
                &[data-type="checkbox"] {
                    width: 34px;
                    height: 34px;
                    border: 2px solid $theme-active-color;
                    background-color: transparent;
                    line-height: 28px;
                    text-align: center;
                    font-weight: bold;
                    font-size: 24px;

                    &::after {
                        content: "✓";
                        position: absolute;
                        left: -2px;
                        top: 0;
                        width: 34px;
                        height: 34px;
                        color: $theme-color;
                        transition: all 0.11s ease-in-out;
                    }
                    &:checked + .switchbox {
                        background-color: map-get($state-colors, "expedition");
                        border-color: map-get($state-colors, "expedition");
    
                        &::after {
                            color: $theme-text-color;
                        }
                    }
                }
            }

            .setting-description {
                grid-row: 2 / 3;
                font-size: 11px;
                color: transparentize($theme-text-color, 0.34);
            }
            .setting-caution {
                grid-row: 2 / 3;
                font-size: 11px;
                color: map-get($state-colors, "sortie");

                &::before {
                    content: "※ ";
                }
            }
        }
    }
}