<div id="settings-container">
    <div class="setting" v-for="setting in Settings">
        <label>{{setting.DisplayName}}</label>

        <div>
            <template v-if="setting.Enums">
                <select :name="`${setting.Provider}.${setting.Name}`"
                        v-model="setting.Value">
                    <option v-for="(item, key) in setting.Enums"
                            :value="key">{{i18n[(setting.i18nPrefix||"")+key.toLowerCase()] || item}}</option>
                </select>
            </template>
            <template v-else-if="setting.Type === 'Boolean'">
                <input type="checkbox"
                       :name="`${setting.Provider}.${setting.Name}`"
                       v-model="setting.Value"
                       true-value="true"
                       false-value="false">
            </template>
            <template v-else>
                <input :name="`${setting.Provider}.${setting.Name}`"
                       :value="setting.Value">
            </template>

            <div class="setting-description">{{setting.Description}}</div>
            <div class="setting-caution"
                 v-if="setting.Caution">{{setting.Caution}}</div>
        </div>
    </div>
</div>