<template>
	<div id="top-resources">
		<div class="top-resource"
			v-for="res in Datas"
			v-if="res.Display"
			:data-overlimit="res.Type === 'Resource' && res.Value >= Overlimit ? 1 : 0">
			<template v-if="res.Type === 'Resource'">
				<img class="resource-icon" :src="'modules/top-resource/icon_'+res.LowerName+'.png'" />
				<div class="resource-value">{{res.Value}}</div>
			</template>
			<template v-else>
				<img class="resource-icon" :src="'modules/top-resource/icon_'+res.LowerName+'.png'" />
				<div class="resource-value">
					{{res.Value}}
					<small>/{{res.Maximum}}</small>
				</div>
			</template>
		</div>
	</div>
</template>