@import "../_theme.scss";

/*
	/kcs2/img/common/common_icon_weapon.png
	/kcs2/img/common/common_icon_weapon.json
*/
@mixin EquipmentIcon($id, $size){
	$EquipmentIconsWidth: 408px;
	$EquipmentIconsHeight: 399px;

	display: inline-block;
	width: $size * 1px;
	height: $size * 1px;
	vertical-align: middle;

	background-repeat: no-repeat;

	@if $id == 1 {
		background-position: (-(Ratio(54, $size, 59px))) (-(Ratio(54, $size, 0px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 2 {
		background-position: (-(Ratio(45, $size, 354px))) (-(Ratio(45, $size, 177px)));
		background-size: Ratio(45, $size, $EquipmentIconsWidth) Ratio(45, $size, $EquipmentIconsHeight);
	}
	@else if $id == 3 {
		background-position: (-(Ratio(54, $size, 0px))) (-(Ratio(54, $size, 59px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 4 {
		background-position: (-(Ratio(54, $size, 59px))) (-(Ratio(54, $size, 59px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 5 {
		background-position: (-(Ratio(54, $size, 118px))) (-(Ratio(54, $size, 0px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 6 {
		background-position: (-(Ratio(45, $size, 200px))) (-(Ratio(45, $size, 354px)));
		background-size: Ratio(45, $size, $EquipmentIconsWidth) Ratio(45, $size, $EquipmentIconsHeight);
	}
	@else if $id == 7 {
		background-position: (-(Ratio(45, $size, 150px))) (-(Ratio(45, $size, 354px)));
		background-size: Ratio(45, $size, $EquipmentIconsWidth) Ratio(45, $size, $EquipmentIconsHeight);
	}
	@else if $id == 8 {
		background-position: (-(Ratio(45, $size, 100px))) (-(Ratio(45, $size, 354px)));
		background-size: Ratio(45, $size, $EquipmentIconsWidth) Ratio(45, $size, $EquipmentIconsHeight);
	}
	@else if $id == 9 {
		background-position: (-(Ratio(54, $size, 118px))) (-(Ratio(54, $size, 118px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 10 {
		background-position: (-(Ratio(45, $size, 50px))) (-(Ratio(45, $size, 354px)));
		background-size: Ratio(45, $size, $EquipmentIconsWidth) Ratio(45, $size, $EquipmentIconsHeight);
	}
	@else if $id == 11 {
		background-position: (-(Ratio(45, $size, 0px))) (-(Ratio(45, $size, 354px)));
		background-size: Ratio(45, $size, $EquipmentIconsWidth) Ratio(45, $size, $EquipmentIconsHeight);
	}
	@else if $id == 12 {
		background-position: (-(Ratio(54, $size, 177px))) (-(Ratio(54, $size, 118px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 13 {
		background-position: (-(Ratio(54, $size, 0px))) (-(Ratio(54, $size, 177px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 14 {
		background-position: (-(Ratio(54, $size, 59px))) (-(Ratio(54, $size, 177px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 15 {
		background-position: (-(Ratio(45, $size, 354px))) (-(Ratio(45, $size, 277px)));
		background-size: Ratio(45, $size, $EquipmentIconsWidth) Ratio(45, $size, $EquipmentIconsHeight);
	}
	@else if $id == 16 {
		background-position: (-(Ratio(54, $size, 177px))) (-(Ratio(54, $size, 177px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 17 {
		background-position: (-(Ratio(54, $size, 236px))) (-(Ratio(54, $size, 0px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 18 {
		background-position: (-(Ratio(54, $size, 236px))) (-(Ratio(54, $size, 59px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 19 {
		background-position: (-(Ratio(45, $size, 354px))) (-(Ratio(45, $size, 227px)));
		background-size: Ratio(45, $size, $EquipmentIconsWidth) Ratio(45, $size, $EquipmentIconsHeight);
	}
	@else if $id == 20 {
		background-position: (-(Ratio(54, $size, 236px))) (-(Ratio(54, $size, 177px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 21 {
		background-position: (-(Ratio(54, $size, 0px))) (-(Ratio(54, $size, 236px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 22 {
		background-position: (-(Ratio(54, $size, 59px))) (-(Ratio(54, $size, 236px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 23 {
		background-position: (-(Ratio(54, $size, 118px))) (-(Ratio(54, $size, 236px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 24 {
		background-position: (-(Ratio(54, $size, 0px))) (-(Ratio(54, $size, 0px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 25 {
		background-position: (-(Ratio(54, $size, 236px))) (-(Ratio(54, $size, 236px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 26 {
		background-position: (-(Ratio(54, $size, 295px))) (-(Ratio(54, $size, 0px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 27 {
		background-position: (-(Ratio(54, $size, 295px))) (-(Ratio(54, $size, 59px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 28 {
		background-position: (-(Ratio(54, $size, 295px))) (-(Ratio(54, $size, 118px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 29 {
		background-position: (-(Ratio(54, $size, 295px))) (-(Ratio(54, $size, 177px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 30 {
		background-position: (-(Ratio(54, $size, 295px))) (-(Ratio(54, $size, 236px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 31 {
		background-position: (-(Ratio(54, $size, 0px))) (-(Ratio(54, $size, 295px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 32 {
		background-position: (-(Ratio(54, $size, 59px))) (-(Ratio(54, $size, 295px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 33 {
		background-position: (-(Ratio(54, $size, 118px))) (-(Ratio(54, $size, 295px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 34 {
		background-position: (-(Ratio(54, $size, 177px))) (-(Ratio(54, $size, 295px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 35 {
		background-position: (-(Ratio(54, $size, 236px))) (-(Ratio(54, $size, 295px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 36 {
		background-position: (-(Ratio(54, $size, 295px))) (-(Ratio(54, $size, 295px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 37 {
		background-position: (-(Ratio(54, $size, 354px))) (-(Ratio(54, $size, 0px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 38 {
		background-position: (-(Ratio(54, $size, 354px))) (-(Ratio(54, $size, 59px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 39 {
		background-position: (-(Ratio(54, $size, 177px))) (-(Ratio(54, $size, 236px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 40 {
		background-position: (-(Ratio(54, $size, 236px))) (-(Ratio(54, $size, 118px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 41 {
		background-position: (-(Ratio(54, $size, 118px))) (-(Ratio(54, $size, 177px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 42 {
		background-position: (-(Ratio(54, $size, 177px))) (-(Ratio(54, $size, 59px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 43 {
		background-position: (-(Ratio(54, $size, 177px))) (-(Ratio(54, $size, 0px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 44 {
		background-position: (-(Ratio(54, $size, 59px))) (-(Ratio(54, $size, 118px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 45 {
		background-position: (-(Ratio(54, $size, 0px))) (-(Ratio(54, $size, 118px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 46 {
		background-position: (-(Ratio(54, $size, 118px))) (-(Ratio(54, $size, 59px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	@else if $id == 47 {
		background-position: (-(Ratio(54, $size, 354px))) (-(Ratio(54, $size, 118px)));
		background-size: Ratio(54, $size, $EquipmentIconsWidth) Ratio(54, $size, $EquipmentIconsHeight);
	}
	
}