<div id="overview-container">
	<div class="tab-host">
		<a href="#"
		   v-for="fleet in Fleets"
		   v-if="fleet.Available"
		   :class="{selected: SelectedTab === fleet.Id}"
		   :data-idx="fleet.Id"
		   @click.prevent="SelectFleet(fleet.Id)">
			<div class="overview-fleet-state"
				 :data-state="fleet.State"
				 :data-idx="fleet.Id"></div>
			#{{fleet.Id}}
		</a>
	</div>

	<div class="fleet"
		 v-for="fleet in Fleets"
		 v-if="fleet.Available"
		 v-show="SelectedTab === fleet.Id"
		 :data-idx="fleet.Id"
		 :data-display="SelectedTab === fleet.Id ? 1 : 0">
		<div class="summary-container">
			<div class="summary-info" data-summary="morale" v-if="fleet.IsRejuvenating">
				<span style="float:left">{{i18n.fleet_revejunate}}</span>
				{{fleet.RejuvenateText}}
			</div>
			<div class="summary-info" data-summary="supply" v-if="fleet.SupplyFuel || fleet.SupplyAmmo || fleet.SupplyBauxite">
				<span>{{fleet.SupplyFuel}}</span>
				<span>{{fleet.SupplyAmmo}}</span>
				<span>{{fleet.SupplyBauxite}}</span>
			</div>
			<div class="summary-info" data-summary="level" :title="LevelTooltip(fleet)">
				{{fleet.TotalLevel}}
				<span>({{fleet.AvgLevel.toFixed(2)}})</span>
			</div>
			<div class="summary-info" data-summary="aa" :title="AATooltip(fleet)">
				{{fleet.AA.Min}}<span>~{{fleet.AA.Max}}</span>
			</div>
			<div class="summary-info" data-summary="speed" :title="SpeedTooltip(fleet)">{{fleet.Speed}}</div>
			<div class="summary-info" data-summary="los" :title="LoSTooltip(fleet)">{{fleet.LoS}}</div>
		</div>

		<div class="ship-container">
			<div class="ship"
				 v-for="ship in fleet.Ships"
				 v-if="ship.Available"
				 :data-idx="ship.Id"
				 :data-state="ParseShipSituation(ship)"
				 :style="{'grid-template-columns': fleet.NameSize+'px auto auto 20%'}"
				 v-tippy="{html:'#overview-ship-tooltip-'+ship.Hash}">
				<div>
					<div class="ship-name" :prop="ship.Name">{{ship.Name || "???"}}</div>
					<div class="ship-level">Lv.{{ship.Level || "???"}}</div>
				</div>

				<div class="ship-hp-bar" data-type="progress" data-progress-strip="4"
					 :data-progress="100*ship.HP.Current/ship.HP.Maximum"
					 :title="ship.HP.Current+' / '+ship.HP.Maximum"></div>
				<div class="ship-hp">{{ship.HP.Current}}/{{ship.HP.Maximum}}</div>
				<div class="ship-morale">
					<div class="ship-morale-box" :data-morale="ship.Morale.Level"></div>
					<div class="ship-morale-value">{{ship.Morale.Value}}</div>
				</div>
				<div class="ship-supply">
					<div class="ship-fuel" data-type="progress" data-progress-strip="4"
						 :data-progress="100*ship.Fuel.Current/ship.Fuel.Maximum"
						 :title="ship.Fuel.Current+' / '+ship.Fuel.Maximum"></div>
					<div class="ship-ammo" data-type="progress" data-progress-strip="4"
						 :data-progress="100*ship.Ammo.Current/ship.Ammo.Maximum"
						 :title="ship.Ammo.Current+' / '+ship.Ammo.Maximum"></div>
				</div>
				<div class="ship-repairing">
					<span>{{i18n.fleet_repairing}}</span>
				</div>

				<div :id="'overview-ship-tooltip-'+ship.Hash"
					 class="tooltip-host"
					 v-tippy-target>
					<div>
						<b>이름</b>:
						{{ship.Name}}
					</div>
					<div>
						<b>체력</b>:
						{{ship.HP.Current}} / {{ship.HP.Maximum}}
					</div>
					<div>
						<b>연료</b>:
						{{ship.Fuel.Current}} / {{ship.Fuel.Maximum}}
					</div>
					<div>
						<b>탄약</b>:
						{{ship.Ammo.Current}} / {{ship.Ammo.Maximum}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="dock-container">
		<div class="dock-item"
			 v-for="dock in RepairDock"
			 :data-state="dock.StateText">
			<div class="dock-text">
				<span v-if="dock.State === 0">{{i18n.fleet_repair_empty}}</span>
				<span v-else-if="dock.State === 1">{{i18n[dock.Ship || "???"]}}</span>
				<span v-else>{{i18n.fleet_locked}}</span>
			</div>
			<div class="dock-time">
				<span v-if="dock.State === 0"></span>
				<span v-else-if="dock.State === 1">{{dock.IsCompleted ? i18n.fleet_done : dock.RemainingTime}}</span>
				<span v-else></span>
			</div>
		</div>
	</div>

	<div class="dock-container">
		<div class="dock-item"
			 v-for="dock in ConstructionDock"
			 :data-state="dock.StateText">
			<div class="dock-text">
				<span v-if="dock.State === 0">{{i18n.fleet_repair_empty}}</span>
				<span v-else-if="dock.State === 2 || dock.State === 3">{{i18n[dock.Ship || "???"]}}</span>
				<span v-else>{{i18n.fleet_locked}}</span>
			</div>
			<div class="dock-time">
				<span v-if="dock.State === 0"></span>
				<span v-else-if="dock.State === 2">{{dock.IsCompleted ? i18n.fleet_done : dock.RemainingTime}}</span>
				<span v-else-if="dock.State === 3">{{i18n.fleet_done}}</span>
				<span v-else></span>
			</div>
		</div>
	</div>
</div>
