<div id="overview-container">
	<div class="tab-host">
		<a href="#"
		   v-for="fleet in Fleets"
		   :class="{selected: SelectedTab === fleet.Id}"
		   :data-idx="fleet.Id"
		   @click.prevent="SelectFleet(fleet.Id)">
			<div class="overview-fleet-state"
				 :data-state="fleet.State"
				 :data-idx="fleet.Id"></div>
			#{{fleet.Id}}
		</a>
	</div>

	<div class="fleet"
		 v-for="fleet in Fleets"
		 v-show="SelectedTab === fleet.Id"
		 :data-idx="fleet.Id"
		 :data-display="SelectedTab === fleet.Id ? 1 : 0">
		<div class="tooltip-host">
			<div :id="`summary-level-${fleet.Id}`" v-tippy-target>
				{{i18n.fleet_totallevel}}: {{fleet.TotalLevel}}<br>
				{{i18n.fleet_averagelevel}}: {{fleet.AvgLevel.toFixed(2)}}
			</div>
			<div :id="`summary-aa-${fleet.Id}`" v-tippy-target>
				{{i18n.fleet_aa_min}}: {{fleet.AA.Minimum}}<br>
				{{i18n.fleet_aa_max}}: {{fleet.AA.Maximum}}
			</div>
			<div :id="`summary-speed-${fleet.Id}`" v-tippy-target>
				{{i18n.fleet_speed}}: {{fleet.Speed}}
			</div>
			<div :id="`summary-los-${fleet.Id}`" v-tippy-target>
				{{i18n.fleet_los}}: {{fleet.LoS}}<br>
				{{this.LoSType}}
			</div>
		</div>

		<div class="summary-container">
			<div class="summary-info" data-summary="morale"
				 v-if="fleet.IsConditionRestoring">
				<span style="float:left">{{i18n.fleet_condition_restoring}}</span>
				{{fleet.RejuvenateText}}
			</div>
			<div class="summary-info" data-summary="supply"
				 v-if="fleet.SupplyFuel || fleet.SupplyAmmo || fleet.SupplyBauxite">
				<span>{{fleet.SupplyFuel}}</span>
				<span>{{fleet.SupplyAmmo}}</span>
				<span>{{fleet.SupplyBauxite}}</span>
			</div>
			<div class="summary-info" data-summary="level"
				 v-tippy="{html:`#summary-level-${fleet.Id}`}">
				{{fleet.TotalLevel}}
				<span>({{fleet.AvgLevel.toFixed(2)}})</span>
			</div>
			<div class="summary-info" data-summary="aa"
				 v-tippy="{html:`#summary-aa-${fleet.Id}`}">
				{{fleet.AA.Minimum}}<span>~{{fleet.AA.Maximum}}</span>
			</div>
			<div class="summary-info" data-summary="speed"
				 v-tippy="{html:`#summary-speed-${fleet.Id}`}">{{fleet.Speed}}</div>
			<div class="summary-info" data-summary="los"
				 v-tippy="{html:`#summary-los-${fleet.Id}`}">{{fleet.LoS}}</div>
		</div>

		<div class="ship-container">
			<div class="ship"
				 v-for="ship in fleet.Ships"
				 v-if="ship !== null"
				 :data-id="ship.Id"
				 :data-state="ParseShipState(ship)"
				 :style="{'grid-template-columns': `${fleet.NameSize}px auto auto 20%`}"
				 v-tippy="{html:`#overview-ship-tooltip-${ship.Id}`}">
				<div :id="'overview-ship-tooltip-'+ship.Id"
					 class="tooltip-host"
					 v-tippy-target>
					<div>
						<b>이름</b>:
						{{i18n[ship.Info.Name] || "???"}}
					</div>
					<div>
						<b>체력</b>:
						{{ship.HP.Current}} / {{ship.HP.Maximum}}
					</div>
					<div>
						<b>연료</b>:
						{{ship.Fuel.Current}} / {{ship.Fuel.Maximum}}
					</div>
					<div>
						<b>탄약</b>:
						{{ship.Ammo.Current}} / {{ship.Ammo.Maximum}}
					</div>
				</div>

				<div class="ship-namelv">
					<div class="ship-name">{{i18n[ship.Info.Name] || "???"}}</div>
					<div class="ship-level">Lv.{{ship.Level || "???"}}</div>
				</div>

				<div class="ship-hp-bar" data-type="progress" data-progress-strip="4"
					 :data-progress="100 * ship.HP.Current / ship.HP.Maximum"></div>
				<div class="ship-hp">{{ship.HP.Current}}/{{ship.HP.Maximum}}</div>
				<div class="ship-morale">
					<div class="ship-morale-box"
						 :data-morale="GetConditionLevel(ship.Condition)"></div>
					<div class="ship-morale-value">{{ship.Condition}}</div>
				</div>
				<div class="ship-supply">
					<div class="ship-fuel" data-type="progress" data-progress-strip="4"
						 :data-progress="100 * ship.Fuel.Current / ship.Fuel.Maximum"></div>
					<div class="ship-ammo" data-type="progress" data-progress-strip="4"
						 :data-progress="100 * ship.Ammo.Current / ship.Ammo.Maximum"></div>
				</div>
				<div class="ship-repairing">
					<span>{{i18n.fleet_repairing}}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="dock-container">
		<div class="dock-item"
			 v-for="dock in RepairDock"
			 :data-state="dock.StateText">
			<div class="dock-text">
				<span v-if="dock.State === 0">{{i18n.fleet_repair_empty}}</span>
				<span v-else-if="dock.State === 1">{{i18n[dock.Ship] || "???"}}</span>
				<span v-else>{{i18n.fleet_locked}}</span>
			</div>
			<div class="dock-time">
				<span v-if="dock.State === 0"></span>
				<span v-else-if="dock.State === 1">{{dock.IsCompleted ? i18n.fleet_done : dock.RemainingTime}}</span>
				<span v-else></span>
			</div>
		</div>
	</div>

	<div class="dock-container">
		<div class="dock-item"
			 v-for="dock in ConstructionDock"
			 :data-state="dock.StateText">
			<div class="dock-text">
				<span v-if="dock.State === 0">{{i18n.fleet_repair_empty}}</span>
				<span v-else-if="dock.State === 2 || dock.State === 3">{{i18n[dock.Ship] || "???"}}</span>
				<span v-else>{{i18n.fleet_locked}}</span>
			</div>
			<div class="dock-time">
				<span v-if="dock.State === 0"></span>
				<span v-else-if="dock.State === 2">{{dock.IsCompleted ? i18n.fleet_done : dock.RemainingTime}}</span>
				<span v-else-if="dock.State === 3">{{i18n.fleet_done}}</span>
				<span v-else></span>
			</div>
		</div>
	</div>

	<div class="quest-container">
		<div class="quest-item"
			 v-for="quest in Quests"
			 v-tippy="{html:`#quest-tooltip-${quest.Id}`}">
			<div class="tooltip-host">
				<div :id="`quest-tooltip-${quest.Id}`">
					<h3>
						[{{i18n[`quest_${quest.Id}_code`] || quest.Id}}]
						{{i18n[`quest_${quest.Id}_name`] || quest.Title}}
					</h3>
					<div>{{i18n[`quest_${quest.Id}_desc`] || quest.Description}}</div>
				</div>
			</div>
			<div class="quest-category" :data-quest-category="quest.Category"></div>
			<div class="quest-title">{{i18n[`quest_${quest.Id}_name`] || quest.Title}}</div>
			<div class="quest-progress">{{quest.Progress}}%</div>
		</div>
	</div>
</div>