@import "../../_theme.scss";

.tab-host .overview-fleet-state {
	display: inline-block;
	margin-right: 4px;
	width: 14px;
	height: 14px;
	vertical-align: bottom;

	@mixin States($type) {
		&[data-state="#{$type}"] {
			background-color: map-get($state-colors, $type);
		}
	}

	@include States("empty");
	@include States("sortie");
	@include States("expedition");
	@include States("damaged");
	@include States("not-ready");
	@include States("ready");
}

#overview-container {
	.summary-container {
		display: grid;
		margin: 0 3px 10px;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 18px;
		grid-gap: 3px;

		> .summary-info {
			padding: 0 6px 6px;
			border-radius: 3px;
			background-color: transparentize($theme-text-color, 0.9);
			line-height: 18px;
			text-align: right;
			overflow: hidden;

			&::before {
				content: "";
				float: left;
				display: block;
				margin: 0 6px 0 -3px;
				width: 18px;
				height: 18px;
				background-image: url(iconset_fleet.png);
				background-position: 0 0;
				background-repeat: no-repeat;
				background-size: 144px 18px;
			}

			&[data-summary="morale"],
			&[data-summary="supply"] {
				grid-column: span 2;
			}

			@mixin SummaryIcon($type, $x) {
				&[data-summary="#{$type}"]::before {
					background-position: (-$x*1px) 0;
				}
			}

			@include SummaryIcon("morale", 72);
			@include SummaryIcon("level", 0);
			@include SummaryIcon("aa", 18);
			@include SummaryIcon("speed", 36);
			@include SummaryIcon("los", 54);

			&[data-summary="supply"] {
				&::before {
					display: none;
				}

				&::after {
					content: "";
					display: table;
					clear: both;
				}

				> * {
					float: left;
					width: 33.3%;
					text-align: center;

					&::before {
						content: "";
						display: inline-block;
						margin: 0 6px 0 -3px;
						width: 18px;
						height: 18px;
						background-image: url(iconset_fleet.png);
						background-position: -90px 0;
						background-repeat: no-repeat;
						background-size: 144px 18px;
						vertical-align: bottom;
					}

					&:nth-child(2)::before {
						background-position: -108px 0;
					}

					&:nth-child(3)::before {
						background-position: -126px 0;
					}
				}
			}
		}
	}
}

#overview-container {
	.fleet {
		margin: 3px 0;
	}

	.ship-container {
		.ship {
			$ship: &;
			position: relative;
			display: grid;
			padding: 3px 6px;
			// grid-template-columns: auto auto auto 20%;
			grid-auto-rows: min-content minmax(min-content, 1fr) 3px;
			grid-gap: 1px;
			line-height: 13px;
			vertical-align: top;

			.ship-namelv {
				padding-right: 6px;
				white-space: nowrap;
				grid-column: 1 / 2;
				grid-row: 1 / 3;

				.ship-name {
					font-size: 14px;
				}

				.ship-level {
					font-size: 10px;
					color: transparentize($theme-text-color, 0.23);

					> .ship-level-value {
						color: $theme-text-color;
					}
				}
			}

			.ship-hp-bar {
				margin: 2px 0 0;
				height: 6px;
				grid-column: 2 / 5;
			}

			.ship-hp {
				float: left;
				margin: 2px 0;
				grid-column: 2 / 3;
			}

			.ship-morale, .ship-supply {
				white-space: nowrap;
				word-break: keep-all;
			}

			.ship-morale {
				@extend %NoWrap;
				text-align: right;
				overflow: hidden;
				grid-column: 3 / 4;

				> * {
					display: inline-block;
					vertical-align: middle;
				}

				> .ship-morale-box {
					width: 11px;
					height: 11px;
					background-color: $theme-background-color;

					@mixin MoraleBox($morale) {
						&[data-morale="#{$morale}"] {
							background-color: map-get($morale-colors, $morale);
						}
					}

					@include MoraleBox("-3");
					@include MoraleBox("-2");
					@include MoraleBox("-1");
					@include MoraleBox("0");
					@include MoraleBox("+1");
				}

				> .ship-morale-value {
					padding-left: 2px;
					padding-right: 6px;
				}
			}

			.ship-supply {
				@extend %NoWrap;
				opacity: 0.5;
				grid-column: 4 / 5;

				> div {
					margin: 2px 0;
					height: 5px;
				}
			}

			&[data-state~="damaged"] {
				background-color: transparentize(map-get($state-colors, "damaged"), 0.7);
			}

			.ship-repairing {
				display: none;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				z-index: 2;
				text-align: center;

				> span {
					margin: auto;
				}

				@at-root #{$ship}[data-state="repairing"] .ship-repairing {
					display: flex;
					margin-top:-4px;
					font-size: 14px;
				}
				@at-root #{$ship}[data-state="repairing"] > div:not(.ship-repairing):not(.tooltip-host) {
					opacity: 0.14;
				}
			}

			.ship-hp-bar {
				grid-row: 1 / 2;
			}

			.ship-hp,
			.ship-morale,
			.ship-supply {
				grid-row: 2 / 3;
			}
		}
	}

	&[data-modes~="mininame"] .fleet .ship .ship-name {
		width: 104px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 14px;
	}

	&[data-modes~="mini"] .fleet .ship .ship-morale > .ship-morale-value {
		padding-right: 0;
	}

	&[data-modes~="tiny"] .fleet .ship .ship-morale > .ship-morale-value,
	&[data-modes~="minimal"] .fleet .ship .ship-morale {
		display: none;
	}

	&[data-modes~="mini"] .fleet .ship {
		.ship-supply {
			display: none;
		}

		.ship-morale {
			width: 50%;
		}
	}

	.dock-container {
		display: grid;
		margin-top: 10px;
		padding: 4px;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 28px;
		grid-gap: 4px;

		> .dock-item {
			padding: 2px 0;
			line-height: 12px;
			text-align: center;
			white-space: nowrap;
			transition: background-color 0.17s ease-in-out;
			overflow: hidden;

			&[data-state="locked"] {
				background-color: $theme-hover-color;
				line-height: 24px;
				color: transparentize($theme-text-color, 0.4);
			}

			&[data-state="free"] {
				background-color: $theme-active-color;
				line-height: 24px;
				color: transparentize($theme-text-color, 0.23);
			}

			&[data-state="repairing"] {
				background-color: map-get($state-colors, "repairing");
			}

			&[data-state="building"] {
				background-color: $theme-highlight-color;
			}

			&[data-state="done"] {
				background-color: map-get($state-colors, "ready");
			}

			.dock-time {
				font-size: 11px;
			}
		}
	}

	.quest-container {
		margin-top: 10px;
		padding: 0 4px 4px;
		line-height: 14px;

		> .quest-item {
			display: grid;
			margin-top: 4px;
			padding: 4px 0;
			grid-template-columns: 14px 1fr 28px;
			grid-gap: 4px;

			.quest-title {
				white-space: nowrap;
				overflow: hidden;
			}

			.quest-type {
				width: 14px;
				height: 14px;
				color: transparentize($theme-text-color, 0.26);
			}

			@mixin QuestCategory($category) {
				.quest-category[data-quest-category="#{$category}"] {
					background-color: map-get($quest-colors, $category);
				}
			}

			@include QuestCategory("1"); /* Composition */
			@include QuestCategory("2"); /* Sortie */
			@include QuestCategory("3"); /* Practice */
			@include QuestCategory("4"); /* Expedition */
			@include QuestCategory("5"); /* Supply */
			@include QuestCategory("6"); /* Construction */
			@include QuestCategory("7"); /* Remodel (Powerup) */
			@include QuestCategory("8"); /* Sortie */
		}
	}
}
