.tab-host .overview-fleet-status {
	display: inline-block;
	margin-right: 4px;
	margin-bottom: 2px;
	width: 14px;
	height: 14px;
	vertical-align: bottom;
}
.tab-host .overview-fleet-status[data-status="empty"] {
	background-color: rgba(255, 255, 255, 0.23);
}
.tab-host .overview-fleet-status[data-status="sortie"] {
	background-color: #c62828;
}
.tab-host .overview-fleet-status[data-status="expedition"] {
	background-color: #1565c0;
}
.tab-host .overview-fleet-status[data-status="damaged"] {
	background-color: #e63838;
}
.tab-host .overview-fleet-status[data-status="not-ready"] {
	background-color: #f57c00;
}
.tab-host .overview-fleet-status[data-status="ready"] {
	background-color: #388e3c;
}

#overview-container {
}

#overview-container .summary-container {
	display: grid;
	margin-bottom: 10px;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 18px;
}
#overview-container .summary-container > .summary-info {
	padding: 3px 6px;
	line-height: 12px;
}
#overview-container .summary-container > .summary-info::before {
	content: "";
	display: inline-block;
	margin-right: 6px;
	width: 12px;
	height: 12px;
	background-image: url(iconset_fleet.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 48px 12px;
	vertical-align: bottom;
	line-height: 12px;
}
#overview-container .summary-container > .summary-info[data-summary="level"]::before {
	background-position: 0 0;
}
#overview-container .summary-container > .summary-info[data-summary="aa"]::before {
	background-position: -12px 0;
}
#overview-container .summary-container > .summary-info[data-summary="speed"]::before {
	background-position: -24px 0;
}
#overview-container .summary-container > .summary-info[data-summary="los"]::before {
	background-position: -36px 0;
}

#overview-container .fleet {
	margin: 3px 0;
}
#overview-container .fleet[data-status="disabled"],
#overview-container .fleet:not(.display) {
	display: none;
}

#overview-container .fleet .ship[data-disabled="true"] {
	display: none;
}

#overview-container .fleet .ship {
	line-height: 13px;
}
#overview-container .fleet .ship > td {
	padding: 3px 6px;
	vertical-align: top;
}
#overview-container .fleet .ship > td:first-of-type {
	padding-right: 0;

	/* Width="Auto" */
	width: 1px;
	white-space: nowrap;
}
#overview-container .fleet .ship > td:last-of-type {
	position: relative;
	line-height: 15px;
}
#overview-container .fleet .ship > td::after {
	content: "";
	display: table;
	clear: both;
}
#overview-container .fleet .ship .ship-name {
	font-size: 14px;
}
#overview-container[data-modes~="mininame"] .fleet .ship .ship-name {
	width: 104px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
}
#overview-container .fleet .ship .ship-level {
	font-size: 10px;
	color: rgba(255, 255, 255, 0.77);
}
#overview-container .fleet .ship .ship-level > .ship-level-value {
	color: #fff;
}

#overview-container .fleet .ship .ship-hp-bar {
	margin: 2px 0 0;
	height: 6px;
}
#overview-container .fleet .ship .ship-hp {
	float: left;
	margin: 2px 0;
	width: 50%;
}
#overview-container .fleet .ship .ship-morale,
#overview-container .fleet .ship .ship-supply {
	float: right;
	width: 25%;
	white-space: nowrap;
	word-break: keep-all;
}
#overview-container .fleet .ship .ship-morale {
	text-align: right;
}
#overview-container .fleet .ship .ship-morale > * {
	display: inline-block;
	vertical-align: middle;
}
#overview-container .fleet .ship .ship-morale > .ship-morale-box {
	width: 11px;
	height: 11px;
	background-color: #000;
}
#overview-container .fleet .ship .ship-morale > .ship-morale-box[data-morale="0"] {
	background-color: #fff;
}
#overview-container .fleet .ship .ship-morale > .ship-morale-box[data-morale="-1"] {
	background-color: #ffcc80;
}
#overview-container .fleet .ship .ship-morale > .ship-morale-box[data-morale="-2"] {
	background-color: #f57c00;
}
#overview-container .fleet .ship .ship-morale > .ship-morale-box[data-morale="-3"] {
	background-color: #c62828;
}
#overview-container .fleet .ship .ship-morale > .ship-morale-box[data-morale="+1"] {
	background-color: #fdd835;
}
#overview-container .fleet .ship .ship-morale > .ship-morale-value {
	padding-left: 2px;
	padding-right: 6px;
}
#overview-container[data-modes~="mini"] .fleet .ship .ship-morale > .ship-morale-value {
	padding-right: 0;
}
#overview-container[data-modes~="tiny"] .fleet .ship .ship-morale > .ship-morale-value {
	display: none;
}
#overview-container[data-modes~="minimal"] .fleet .ship .ship-morale {
	display: none;
}

#overview-container .fleet .ship .ship-supply > div {
	margin: 2px 0;
	height: 5px;
}
#overview-container[data-modes~="mini"] .fleet .ship .ship-supply {
	display: none;
}

#overview-container .fleet .ship[data-status="repairing"] td:last-of-type > div:not(.ship-repairing) {
	opacity: 0.21;
}
#overview-container .fleet .ship .ship-repairing {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	text-align: center;
}
#overview-container .fleet .ship .ship-repairing > span {
	margin: auto;
}
#overview-container .fleet .ship[data-status="repairing"] .ship-repairing {
	display: flex;
}

#overview-container .dock-container {
	display: grid;
	margin-top: 10px;
	padding: 4px;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 28px;
	grid-gap: 4px;
}

#overview-container .dock-container > .dock-item {
	padding: 2px 0;
	line-height: 12px;
	text-align: center;
	white-space: nowrap;
	transition: background-color 0.17s ease-in-out;
	overflow: hidden;
}
#overview-container .dock-container > .dock-item[data-status="locked"] {
	background-color: #313131;
	line-height: 24px;
	color: #999;
}
#overview-container .dock-container > .dock-item[data-status="empty"] {
	background-color: #575757;
	line-height: 24px;
	color: #c6c6c6;
}
#overview-container .dock-container > .dock-item[data-status="repairing"] {
	background-color: #6d4c41;
}
#overview-container .dock-container > .dock-item[data-status="building"] {
	background-color: #1565c0;
}
#overview-container .dock-container > .dock-item[data-status="done"] {
	background-color: #388e3c;
}
#overview-container .dock-container > .dock-item .dock-time {
	font-size: 11px;
}