#top-resources {
	order: 2;
	margin-left: auto; /* float: right */
	white-space: nowrap;
	line-height: 0;
}

#top-resources > .top-resource {
	display: inline-block;
	margin-right: 1em;
	height: 28px;
	line-height: 28px;
	font-size: 11px;
	overflow: hidden;
}

#top-resources > .top-resource > * {
	display: inline-block;
}
#top-resources > .top-resource > *:last-child {
	margin-right: 0;
}

#top-resources > .top-resource .resource-icon {
	margin-right: 4px;
	margin-bottom: 2px;
	vertical-align: middle;
}
#top-resources > .top-resource .resource-value {
	white-space: nowrap;
}
